#include <dt-bindings/zmk/matrix_transform.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <physical_layouts.dtsi>
#include <dt-bindings/led/led.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    chosen {
        zmk,physical-layout = &cannonball_physical_layout;
    };

    // Physical layout configuration
    cannonball_physical_layout: cannonball_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        kscan = <&kscan0>;
        transform = <&default_transform>;
        keys //                  w   h   x   y rot rx ry
        // Based on info.json layout
        = <&key_physical_attrs 100 100 1.75  0    0  0  0> // 0
        , <&key_physical_attrs 100 100 4.25  0    0  0  0> // 1
        , <&key_physical_attrs 100 100 0.75  0.5  0  0  0> // 2
        , <&key_physical_attrs 100 100 5.25  0.5  0  0  0> // 3
        , <&key_physical_attrs 100 100 0.25  1.5  0  0  0> // 4
        , <&key_physical_attrs 100 100 5.75  1.5  0  0  0> // 5
        , <&key_physical_attrs 100 100 4     2    0  0  0> // 6
        , <&key_physical_attrs 100 100 2     2    0  0  0> // 7
        , <&key_physical_attrs 100 100 3     1    0  0  0> // 8
        , <&key_physical_attrs 100 100 3     3    0  0  0> // 9
        , <&key_physical_attrs 100 100 1.75  3.25 0  0  0> // 10
        , <&key_physical_attrs 100 100 4.25  3.25 0  0  0> // 11
        , <&key_physical_attrs 100 100 2     4.5  0  0  0> // 12
        , <&key_physical_attrs 100 100 3     4.5  0  0  0> // 13
        , <&key_physical_attrs 100 100 4     4.5  0  0  0> // 14
        , <&key_physical_attrs 100 100 0.75  5    0  0  0> // 15
        , <&key_physical_attrs 100 100 5.25  5    0  0  0> // 16
        , <&key_physical_attrs 100 100 2     5.5  0  0  0> // 17
        , <&key_physical_attrs 100 100 3     5.5  0  0  0> // 18
        , <&key_physical_attrs 100 100 4     5.5  0  0  0> // 19
        , <&key_physical_attrs 100 100 6.75  5.5  0  0  0> // 20
        , <&key_physical_attrs 100 100 2     6.5  0  0  0> // 21
        , <&key_physical_attrs 100 100 3     6.5  0  0  0> // 22
        , <&key_physical_attrs 100 100 4     6.5  0  0  0> // 23
        , <&key_physical_attrs 100 100 6.75  6.5  0  0  0> // 24
        , <&key_physical_attrs 100 100 0.75  7    0  0  0> // 25
        , <&key_physical_attrs 100 100 2     7.5  0  0  0> // 26
        , <&key_physical_attrs 100 100 3     7.5  0  0  0> // 27
        , <&key_physical_attrs 100 100 4     7.5  0  0  0> // 28
        , <&key_physical_attrs 100 100 5.25  7    0  0  0> // 29
        ;
    };

    // Key layout transformation
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        rows = <2>;
        columns = <16>;
        map = 
            // Lever up
            RC(1,9) RC(1,7)
            // Lever push 
            RC(1,11) RC(1,8)
            // Lever down
            RC(1,10) RC(1,6)
            // Stick
            RC(1,0) // up
            RC(1,2) // left
            RC(1,1) // right
            RC(1,3) // down
            // Cover button L R
            RC(0,11) RC(0,10)
            // Key 1row:Mouse Button
            RC(0,6) RC(1,4) RC(0,0)
            // Side upper row
            RC(0,14) RC(0,12)
            // Key 2row
            RC(0,7) RC(0,4) RC(0,1)
            // Back Button Upper
            RC(1,13)
            // Key 3row
            RC(0,8) RC(1,5) RC(0,2)
            // Back Button Down
            RC(1,12)
            // Side bottom row left
            RC(1,14)
            // Key 4row
            RC(0,9) RC(0,5) RC(0,3)
            // Side bottom row right
            RC(0,13)
        >;
    };

    // Rest of your existing configuration
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        row-gpios
            = <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
        col-gpios
            = <&shifter 0  GPIO_ACTIVE_HIGH>
            , <&shifter 1  GPIO_ACTIVE_HIGH>
            , <&shifter 2  GPIO_ACTIVE_HIGH>
            , <&shifter 3  GPIO_ACTIVE_HIGH>
            , <&shifter 4  GPIO_ACTIVE_HIGH>
            , <&shifter 5  GPIO_ACTIVE_HIGH>
            , <&shifter 6  GPIO_ACTIVE_HIGH>
            , <&shifter 7  GPIO_ACTIVE_HIGH>
            , <&shifter 8  GPIO_ACTIVE_HIGH>
            , <&shifter 9  GPIO_ACTIVE_HIGH>
            , <&shifter 10 GPIO_ACTIVE_HIGH>
            , <&shifter 11 GPIO_ACTIVE_HIGH>
            , <&shifter 12 GPIO_ACTIVE_HIGH>
            , <&shifter 13 GPIO_ACTIVE_HIGH>
            , <&shifter 14 GPIO_ACTIVE_HIGH>
            ;
    };

    // Encoder configurations
    head_encoder: encoder_head {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <30>;
        status = "disabled";
    };
    
    chest_encoder: encoder_chest {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <24>;
        status = "disabled";
    };
    
    leg_encoder: encoder_leg {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <24>;
        status = "disabled";
    };
    
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&head_encoder>, <&chest_encoder>, <&leg_encoder>;
    };
};

&sensors {
    head_config {
        triggers-per-rotation = <15>;
    };

    chest_config {
        triggers-per-rotation = <12>;
    };

    leg_config {
        triggers-per-rotation = <12>;
    };
};

&head_encoder {
    status = "okay";
};
&chest_encoder {
    status = "okay";
};
&leg_encoder {
    status = "okay";
};

// SPI pin configuration
&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                    <NRF_PSEL(SPIM_MISO, 0, 4)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                    <NRF_PSEL(SPIM_MISO, 0, 4)>;
            low-power-enable;
        };
    };
};

&spi0 {
    status = "okay";
    cs-gpios =  <&gpio0 10 GPIO_ACTIVE_LOW>, <&xiao_d 6 GPIO_ACTIVE_LOW>; // CS
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    compatible = "nordic,nrf-spim";

    // Optical sensor
    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        cpi = <1200>;
        spi-max-frequency = <400000>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        irq-gpios = <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; //MOT
    };

    // Shift register
    shifter: 595@1 {
        compatible = "zmk,gpio-595";
        status = "okay";
        gpio-controller;
        spi-max-frequency = <400000>;
        reg = <1>;
        #gpio-cells = <2>;
        label = "4HC595";
        ngpios = <16>;
    };
};

// Trackball configuration
/ {
  trackball_listener {
    compatible = "zmk,input-listener";
    device = <&trackball>;

    disable {
        // mouse disabled-esque for layer1
        layers = <1>;
        input-processors = 
          &zip_xy_transform (INPUT_TRANSFORM_Y_INVERT)
          &zip_x_scaler 0 8192
          &zip_y_scaler 1 8192
          &zip_xy_to_scroll_mapper
        >;
    };

    scroller {
        layers = <2>;
        input-processors = 
          &zip_xy_transform (INPUT_TRANSFORM_Y_INVERT)
          &zip_x_scaler 0 16
          &zip_y_scaler 1 16
          &zip_xy_to_scroll_mapper
        >;
    };
  };
};
