#include <dt-bindings/zmk/matrix_transform.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <physical_layouts.dtsi>
#include <dt-bindings/led/led.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    chosen {
        zmk,physical-layout = &cannonball_physical_layout;
    };

    // 物理レイアウト設定
    cannonball_physical_layout: cannonball_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        kscan = <&kscan0>;
        transform = <&default_transform>;
	    keys //                  w   h   x   y rot rx ry
        // Key
	    = <&key_physical_attrs 100 100 400 450   0  0  0>
	    , <&key_physical_attrs 100 100 400 550   0  0  0>
	    , <&key_physical_attrs 100 100 400 650   0  0  0>
	    , <&key_physical_attrs 100 100 400 750   0  0  0>
	    , <&key_physical_attrs 100 100 300 450   0  0  0>
	    , <&key_physical_attrs 100 100 300 550   0  0  0>
	    , <&key_physical_attrs 100 100 300 650   0  0  0>
	    , <&key_physical_attrs 100 100 300 750   0  0  0>
	    , <&key_physical_attrs 100 100 200 450   0  0  0>
	    , <&key_physical_attrs 100 100 200 550   0  0  0>
	    , <&key_physical_attrs 100 100 200 650   0  0  0>
	    , <&key_physical_attrs 100 100 200 750   0  0  0>
        // Mouse